@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";

body {
    color: #050b35
}

img {
    max-width: 100%;
}

.hidden {
    display: none;
}

.block {
    display: block;
}